name: Build ZMK Firmware

on:
  push:
    branches:
      - main
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@v0.3

